*, *:before, *:after 
    box-sizing: border-box

html 
    font-size: 14px

body
    font-family: "Futura Book", sans-serif
    font-size: 1rem

.section
    &-title
        text-align: center
        text-transform: uppercase
        font-family: 'Yeseva One', cursive
        &__image
            &::after, &::before
                display: inline-block
                vertical-align: text-top
                content: ''
                width: 30px
                height: 2px
                background-color: $primary
                margin: 0 10px

